<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
      Verifica tu cuadro <small> | Resumen de la orden</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>Home</a></li>
      <li class="breadcrumb-item active"><a>Carrito de Compra</a></li>
      <li class="breadcrumb-item active">Orden</li>
    </ol>

    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
         <div class="col-lg-9">
           <div class="card-body">
            <h3 class="card-title" style="font-weight: bold;">
              DATOS ORDEN
            </h3>
            <h4>Nombre: {{usuario.nombre}} </h4>
            <h4 >Email: {{usuario.email}}</h4>
            <h4>Dirección: {{usuario.direccion}}</h4>

            <h3 class="card-title" style="margin-top: 25px;font-weight: bold;">
              PRODUCTOS
            </h3>
            <div class="alert alert-light" role="alert">
                <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Sub Total</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cuadro of obtenerProductosCarrito()">
                        <td>{{cuadro.descripcion}}</td>
                        <td>{{cuadro.precio}}</td>
                        <td>{{cuadro.cantidad}}</td>
                        <td>{{cuadro.cantidad * cuadro.precio}}</td>
                    </tr>
                </tbody>
             </table>
           </div>

         </div>
       </div>


       <div class="col-lg-3">
        <h2 class="card-title">Resumen Orden</h2>

        <ul class="list-group">
          <li class="list-group-item"><h4>Pagar: S/ {{calcularTotalPagar()}} </h4></li>
          <a class="btn btn-dark" (click)="generarOrden()">Generar</a>
        </ul>
      </div>
    </div>
  </div>

<ng-template #notificacionExito>
  <h4>Compra Realizada</h4>
  <p *ngIf="baseResponse.msjRespuesta">{{baseResponse.msjRespuesta}}</p>
</ng-template>

<ng-template #notificacionError>
  <p *ngIf="baseResponse.descripcion">{{baseResponse.descripcion}}</p>
</ng-template>