<!-- Page Content -->
<div class="container" style="margin-top: 4rem;">
    <!-- Page Features -->
    <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4" *ngFor="let producto of productosDatos">
            <div class="card h-100">
                <img class="card-img-top"
                    [src]="'data:image/png;base64,'+ producto.imagen" alt="Imagen no encontrada">
                <div class="card-body">
                    <p class="card-text">{{producto.descripcion}}</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </div>
            </div>
    </div>

    <div class="paginacion">
        <button mat-stroked-button (click)="clickAnterior()" *ngIf="paginaActual != 1">
        Anterior
        </button>
        <button mat-stroked-button>
            {{paginaActual}}
        </button>
        <button mat-stroked-button (click)="clickSiguiente()" *ngIf="paginaFinal != paginaActual">
        Siguiente
        </button>
    </div>


</div>