@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input {
    font-family: 'Euclid Circular A';
}

main{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #F0F0F0;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    position: relative;
    width: 100%;
    max-width: 1080px;
    height: 720px;
    background-color: #fdfff8;
    border-radius: 3.3rem;
    box-shadow: -20px 60px 40px -30px rgba(0, 0, 0, 0.18);
}

.inner-box{
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forms-wrap{
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

form{
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 110px;
    margin: 0.3rem;
}

.logo h4{
    font-size: 1.1rem;
    margin-top: -9px;
    letter-spacing: -0.5px;
    color: #d30000;
}

.cabecera h2{
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.cabecera h6{
    color: #818181;
    font-weight: 300;
    font-size: .8rem;
    margin-top: .5rem;
    text-align: center;
}

.input-wrap{
    position: relative;
    height: 50px;
    margin-bottom: 1.1rem;
}
.input-field{
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border-radius: 0.625rem;
    border: 1px solid #D1D1D1;
    padding: 0;
    outline: none;
    font-size: .9rem;
    color: #151111;
    transition: 0.4s;
    padding: 0 15px;
}

.input-field2{
    position: relative;
    margin-bottom: 1rem;
}
.input-field2 input{
    width: 100%;
    height: 50px;
    border-radius: 0.625rem;
    font-size: .9rem;
    padding: 0 15px;
    border: 1px solid #D1D1D1;
    background: transparent;
    color: #151111;
    outline-color: #800000;
    transition: 0.4s;
}

.input-field2 .lbl{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #818181;
    font-size: .9rem;
    pointer-events: none;
}

input:focus ~ .lbl{
    top: 0;
    left: 15px;
    font-size: .7rem;
    padding: 0 2px;
    background: #ffffff;
}

input:focus ~ .lbl,
input:valid ~ .lbl {
	background-color: #ffffff;
	left: 15px;
	padding: 0 2px;
	top: 0;
    font-size: .7rem;
    color: #800000;
}


label{
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.9rem;
    color: #818181;
    pointer-events: none;
    transition: 0.3s;
}

.input-field.active{
    border-color: #800000;
}

.input-field.active + label{
    font-size: 0.6rem;
    top: 0.7rem;
}

.ingresar-btn{
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: #800000;
    color: white;
    border: none;
    border-radius: 0.7rem;
    box-shadow: 0px 15px 30px -10px rgba(210, 140, 34, 0.18);
    cursor: pointer;
    margin-bottom: 5rem;
    margin-top: 1rem;
    font-size: 0.95rem;
    font-weight: 500;
    transition: 0.3s;
}

.ingresar-btn:hover{
    background-color: #151111;
}

.text{
    color: #818181;
    font-size: 0.85rem;
    font-weight: 300;
}

.text a{
    font-weight: 600;
    text-decoration: none;
    color: #800000;
    transition: 0.3s;
}
.text a:hover{
    color: #151111;
}

.carrusel{
    position: absolute;
    height: 100%;
    width: 55%;
    left: 45%;
    top: 0;
    background-color: #e2e2e2;
    border-radius: 2rem;
    transition: 0.8s ease-in-out;
    /*background-image: url();*/
    background-size: cover; 
    background-position: center; 
}
