<!-- Page Content -->
<div class="container">
  <!-- Jumbotron Header -->
  <div class="position-relative overflow-hidden p-1 m-md-3">
    <section class="banner">
      <div class="content-banner">
        <p>100% Marco de Madera!</p>
        <h2>Decora Tu Espacio<br />Con Nuestros Cuadros Personalizados</h2>
        <a href="#mej">Cotiza el tuyo</a>
      </div>
    </section>
  </div>

  <main class="main-content" style="align-content: center">
    <section class="container container-features">
      <div class="card-feature text-center">
        <fa-icon [icon]="truckFastIcon"></fa-icon>
        <div class="feature-content">
          <span>Envíos gratis a todo el Perú</span>
          <p>En compras de 100 soles a más</p>
        </div>
      </div>
      <div class="card-feature text-center">
        <fa-icon [icon]="walletIcon"></fa-icon>
        <div class="feature-content">
          <span>Pagos Contraentrega</span>
          <p>En estaciones del tren línea 1</p>
        </div>
      </div>
      <div class="card-feature text-center">
        <fa-icon [icon]="giftIcon"></fa-icon>
        <div class="feature-content">
          	<span>Pide tu regalo sorpresa</span>
          	<p>Por la compra de 4 cuadros</p>
        </div>
      </div>
      <div class="card-feature text-center">
        <fa-icon [icon]="headPhoneIcon"></fa-icon>
        <div class="feature-content">
          <span>Servicio al cliente</span>
          <p>LLámenos 24/7 al 987-564-123</p>
        </div>
      </div>
    </section>

    <section class="container top-products">
      <h1 class="heading-1" id="mej">Mejores Cuadros</h1>

      <div class="container-options">
        <span class="active">Más Recientes</span>
      </div>

      <!-- Page Features -->
      <div class="container" style="align-content: center">
        <div class="container-products">
          <div class="card-product" *ngFor="let producto of productoList">
            <div class="container-img">
              <img [src]="'data:image/png;base64,'+ producto.imagen" />
            </div>
            <h2 class="card-text text-center">{{producto.nombre}}</h2>
            <a class="content-card-product d-flex justify-content-center">
              
              <span class="add-cart ">
                <a [routerLink]="'/vista-previa/' + producto.idProducto">
                  <mat-icon>visibility</mat-icon>
                </a>
              </span>
              
            </a>
            <h2 class="price text-center" style="margin-top: 30px; font-size: 3rem;">S/ {{producto.precio}}</h2>
          </div>
        </div>
      </div>
    </section>

    <section class="gallery">
      <img
        src="../../../assets/gallery1.jpg.png"
        alt="Gallery Img1"
        class="gallery-img-1"
      /><img
        src="../../../assets/gallery2.jpg.png"
        alt="Gallery Img2"
        class="gallery-img-2"
      /><img
        src="../../../assets/gallery3.jpg.png"
        alt="Gallery Img3"
        class="gallery-img-3"
      /><img
        src="../../../assets/gallery4.jpg.png"
        alt="Gallery Img4"
        class="gallery-img-4"
      /><img
        src="../../../assets/gallery5.jpg.png"
        alt="Gallery Img5"
        class="gallery-img-5"
      />
    </section>
  </main>
</div>
<!-- /.container -->

<!-- Footer -->
