.campos{
    margin: 15px 8% 0 8%;
}
.mat-column-nombre,.mat-column-apellidoPaterno,.mat-column-apellidoMaterno,.mat-column-correo,.mat-column-estado,.mat-column-tipoUsuario-descripcion, .mat-column-edad {
    border-right: 1px solid #c2c2c2 !important;
}
th{
    font-size: 18px;
}
.titulo-mantenimiento{
    font-size: 45px;
}