<form [formGroup]="usuarioForm">
	<h1>Registro en Sistema </h1>

	<div class="input-field2">
		<input matInput type="text" required formControlName="nombre"/>
		<label class="lbl">Ingresa tus nombres</label>
	</div>
	<div class="input-field2">
		<input matInput type="text" required formControlName="username"/>
		<label class="lbl">Ingresa tu username</label>
	</div>
	<div class="input-field2">
		<input matInput type="text" required formControlName="direccion"/>
		<label class="lbl">Ingresa tu dirección</label>
	</div>
	<div class="input-field2">
		<input matInput type="number" maxlength="9" required formControlName="telefono"/>
		<label class="lbl">Ingresa tu teléfono</label>
	</div>
	<div class="input-field2">
		<input matInput type="text" required formControlName="email"/>
		<label class="lbl">Ingresa tu correo electrónico</label>
	</div>
	<div class="input-field2">
		<input matInput type="password" required formControlName="password"/>
		<label class="lbl">Ingresa tu contraseña</label>
	</div>
	
	<div class="sugerencias">
		<div class="remember">
			<input type="checkbox" checked>
			<span> Estoy de acuerdo con terminos y condiciones</span>
		</div>
	</div>
	
	<button (click)="registrarUsuario()">Registrarse</button>

	<p class="text"> ¿Ya tienes cuenta? <a href="/login">Ingresa aquí</a></p>

</form>

<ng-template #notificacion>
    <h4>{{tituloNotificacion}}</h4>
    <p>Te registrase correctamente, ya puedes ingresar a Login</p>
</ng-template>
